<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <bean id="applicationContextProvider" class ="org.usermanagement.platform.util.ApplicationContextProvider" />

    <bean id="hibernateUtils" class="org.usermanagement.platform.db.HibernateUtils"
          init-method="init">
    </bean>

    <bean id="persistenceHandler" class="org.usermanagement.platform.db.PersistenceHandler"
          depends-on="hibernateUtils">
    </bean>


    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/mySql" />
        <property name="username" value="test" />
        <property name="password" value="test123" />
    </bean>

</beans>