<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="applicationContextProvider" class ="org.usermanagement.platform.util.ApplicationContextProvider" />

    <bean id="hibernateUtils" class="org.usermanagement.platform.db.HibernateUtils"
          init-method="init">
    </bean>

    <bean id="persistenceHandler" class="org.usermanagement.platform.db.PersistenceHandler"
          depends-on="hibernateUtils">
    </bean>
</beans>