<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- beans with p namespace -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close"
          p:driverClassName="com.mysql.jdbc.Driver"
          p:url="jdbc:mysql://localhost/mysql"
          p:username="root"
          p:password="root"/>

    <bean id="mySqlSessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" p:dataSource-ref="dataSource">
        <property name="annotatedClasses">
            <list>
                <value>org.model.usermanagement.User</value>
                <value>org.model.usermanagement.Role</value>
                <value>org.model.usermanagement.Permission</value>
                <value>org.model.usermanagement.PermissionSet</value>
                <value>org.model.usermanagement.RolePermissionSet</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.default_schema">USERMANAGER</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <!--<prop key="hibernate.hbm2ddl.auto">create</prop>
                <prop key="hibernate.hbm2ddl.import_files">SchemaCreator.sql</prop> -->
            </props>
        </property>
    </bean>

    <context:component-scan base-package="org.usermanagement.platform.db"/>

    <!-- Commented because of annotation @Repository Usage

    <bean id="hibernateUtils" class="org.usermanagement.platform.db.HibernateUtils" >
        <property name="sessionFactory" >
            <map>
                <entry key="DEFAULT" value-ref="mySqlSessionFactory"></entry>
            </map>
        </property>
    </bean>

    <bean id="persistenceHandler" class="org.usermanagement.platform.db.PersistenceHandlerImpl" p:hibernateUtils-ref= "hibernateUtils">
    </bean> -->

</beans>